* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

body {
  background-color: rgb(31, 28, 28);
}

.box__wrapp {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 60px;
  width: 700px;
  padding-top: 30px;
  margin: 0 auto;
}

.box {
  width: 300px;
  height: 300px;
  background-color: rgb(120, 102, 102);
  border-radius: 10px;
}

.card {
  background-color: rgb(246, 246, 76);
  opacity: 0.6;
  text-align: center;
  padding-top: 0;
  width: 100%;
  height: 100%;
  transition: 0.4s;
  border-radius: 10px;
}

/* --- rotate --- */
.rotate {
  transform: rotate(15deg);
  transform-origin: top left;
  position: relative;
}

.icon {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: black;
}

.rotate:hover {
  transform: rotate(0deg);
  box-shadow: -10px 10px 10px orange;
}
/* --- rotate --- */

/* --- translate --- */

.translate {
  transform: translate(20px, 20px);
}

.translate:hover {
  transform: translate(0);
}
/* --- translate --- */

/* --- scale --- */
.scale {
  transform: scale(1.2);
}

.scale:hover {
  transform: scale(1);
}
/* --- scale --- */

/* --- skew --- */
.skew {
  transform: skew(10deg, -10deg);
}

.skew:hover {
  transform: skew(0);
}

/* --- skew --- */

@keyframes box-mover {
  0% {
    left: 0;
    background-color: rgb(255, 89, 0);
    width: 300px;
    opacity: 0;
    transform: scale(1);
  }

  10% {
    opacity: 10;
  }

  50% {
    transform: scale(1);
    width: 400px;
  }

  90% {
    opacity: 0.5;
  }

  100% {
    transform: scale(1);
    left: 1440px;
    background-color: red;
    width: 500px;
    opacity: 0;
  }
}

.box-model {
  width: 300px;
  height: 300px;
  margin: 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  animation-name: box-mover;
  animation-duration: 7s;
  /* animation-delay: 2s; */
  animation-iteration-count: 2;
}
/* ----------------- */


@keyframes direction  {
  0% {
    left: 0;
    background-color: orange;
  }


  100% {
    left: 1100px;
    background-color: green;
  }
}

.box-direction {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 50px 0;
  width: 300px;
  height: 300px;
  background-color: red;
  transition: 0.4s;
  animation-name: direction;
  animation-duration: 5s;
  /* animation-delay: 2s; */
  animation-iteration-count: 10;
  animation-direction: normal; 
  animation-timing-function: linear; 
  animation-fill-mode: none; /* animatsiya tugagadan so'ng elementning oldingi xossalari amal qilmaydi */
  /* animation-fill-mode: forwards; */ /*keyframe intervali tominidan ko'rsatilgan oxirgi xossani oladi */
  /* animation-fill-mode: backwards;  keyframe ko'rsatgan birinchi xossani oladi */
  /* animation-fill-mode: both; element keyframe ko'rsatgan birinchi va oxirgi xossaga ega bo'ladi */
}


.box-direction:hover {
  animation-play-state: paused;
  transform: scale(1.2);
}